@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProtestRiot";
  src: url("/fonts/ProtestRiot-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  src: url("/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.markdown-wrapper h1,
h2,
h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown-wrapper h1 {
  font-size: 32px;
}

.markdown-wrapper h2 {
  font-size: 26px;
}

.markdown-wrapper h3 {
  font-size: 20px;
}

.markdown-wrapper a {
  color: #042f2e;
  font-weight: bold;
  padding: 2px;
}
